header .card .card-img-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header .card .card-img-overlay .card-title {
  font-weight: bolder;
  color: black;
  text-align: center;
  background-color: rgba(172, 172, 172, 0.815);
  font-family: "Rubik", sans-serif;
  transition: 0.3s;
}
header .card .card-img-overlay .card-title:hover {
  background-color: rgba(221, 220, 220, 0.815);
  color: #0c0cc2;
}
header .card .card-img-overlay .card-text {
  font-weight: bold;
  background-color: rgba(172, 172, 172, 0.815);
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #b10909;
  transition: 0.3s;
}
header .card .card-img-overlay .card-text:hover {
  background-color: rgba(221, 220, 220, 0.815);
  color: #0c0cc2;
}
@media screen and (min-width: 300px) and (max-width: 980px) {
  header .card .card-img-overlay .card-text {
    display: none;
  }
}

/*footer*/
@media screen and (max-width: 780px) {
  .redesS {
    display: none;
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: #b10909;
  background-color: #639ae2;
}

#contacto .tituloContacto, .seccionMisClases #grid .ClientesSatisfechos .titulosGrid, .seccionMisClases #grid .enTuGimnasio .titulosGrid, .seccionMisClases #grid .alAireLibre .titulosGrid, .seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi, .seccionDieta .divTextosDieta .tituloDieta, .seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas, .seccionRutinas .divTextoRutinas .tituloRutinas, .seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento {
  font-size: 30px;
  color: #b10909;
  padding-right: 10px;
  font-weight: bolder;
}
@media screen and (max-width: 980px) {
  #contacto .tituloContacto, .seccionMisClases #grid .ClientesSatisfechos .titulosGrid, .seccionMisClases #grid .enTuGimnasio .titulosGrid, .seccionMisClases #grid .alAireLibre .titulosGrid, .seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi, .seccionDieta .divTextosDieta .tituloDieta, .seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas, .seccionRutinas .divTextoRutinas .tituloRutinas, .seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento {
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
  }
}

.seccionAcercaDeMi, .seccionDieta, .seccionDisciplinas, .seccionRutinas, .seccionEntrenamiento, .PrincipalIndex {
  padding: 10px;
  margin: 60px 20px 60px 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: space-between;
}
.seccionAcercaDeMi:hover, .seccionDieta:hover, .seccionDisciplinas:hover, .seccionRutinas:hover, .seccionEntrenamiento:hover, .PrincipalIndex:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
@media screen and (max-width: 950px) {
  .seccionAcercaDeMi, .seccionDieta, .seccionDisciplinas, .seccionRutinas, .seccionEntrenamiento, .PrincipalIndex {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  .seccionAcercaDeMi .divFotoSeba .fotoSeba, .seccionDieta .divFotoComidaSana .fotoComidaSana, .seccionRutinas .divFotoRutinas .fotoRutinas, .seccionEntrenamiento .divFotoEntrenamiento .imagenEntrenamiento {
    width: 100%;
    height: auto;
  }
}

.seccionAcercaDeMi .textosAcercaDeMi, .seccionDieta .divTextosDieta, .seccionDisciplinas .divTextosDisciplinas, .seccionRutinas .divTextoRutinas, .seccionEntrenamiento .divTextoEntrenamiento {
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
@media screen and (max-width: 980px) {
  .seccionAcercaDeMi .textosAcercaDeMi, .seccionDieta .divTextosDieta, .seccionDisciplinas .divTextosDisciplinas, .seccionRutinas .divTextoRutinas, .seccionEntrenamiento .divTextoEntrenamiento {
    width: 100%;
  }
}

.seccionAcercaDeMi .textosAcercaDeMi .parrafoAcercaDeMi, .seccionDieta .divTextosDieta .parrafoDieta, .seccionDisciplinas .divTextosDisciplinas .parrafoDis, .seccionRutinas .divTextoRutinas .parrafoRutinas, .seccionEntrenamiento .divTextoEntrenamiento .parrafoEntrenamiento {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}

.PrincipalIndex .diVideoPrincipal {
  width: 90%;
  height: 100%;
  margin: 10px;
  padding: 10px;
}
.PrincipalIndex .diVideoPrincipal .videoEntrenamiento {
  width: 80%;
}
@media screen and (max-width: 950px) {
  .PrincipalIndex .diVideoPrincipal .videoEntrenamiento {
    width: 100%;
  }
}
.PrincipalIndex .textosPrincipal {
  width: 60%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.PrincipalIndex .textosPrincipal .tituloPrincipal {
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: right;
}
@media screen and (max-width: 950px) {
  .PrincipalIndex .textosPrincipal .tituloPrincipal {
    text-align: center;
  }
}
.PrincipalIndex .textosPrincipal .FraseMotivadora {
  font-size: 35px;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: right;
}
@media screen and (max-width: 950px) {
  .PrincipalIndex .textosPrincipal .FraseMotivadora {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
}

/*entrenamiento*/
@media screen and (max-width: 950px) {
  .seccionEntrenamiento .divFotoEntrenamiento {
    margin-top: 30px;
  }
}
.seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento {
  text-align: right;
}
.seccionEntrenamiento .divTextoEntrenamiento .parrafoEntrenamiento {
  text-align: right;
}

/*Rutinas*/
.seccionRutinas .divTextoRutinas .parrafoRutinas {
  text-align: left;
}
@media screen and (max-width: 950px) {
  .seccionRutinas .divFotoRutinas {
    margin-bottom: 30px;
  }
}
/*Disciplinas*/
.seccionDisciplinas .divFotosCarou {
  align-items: center;
}
.seccionDisciplinas .divFotosCarou .carousel {
  width: 400px;
  margin: 15px 10px 10px 10px;
  padding: 15px 10px 10px 10px;
  height: 267px;
  z-index: 80;
}
.seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas {
  text-align: right;
}
.seccionDisciplinas .divTextosDisciplinas .parrafoDis {
  text-align: right;
}

/*Dieta*/
.seccionDieta .divTextosDieta .parrafoDieta {
  text-align: left;
}
@media screen and (max-width: 950px) {
  .seccionDieta .divFotoComidaSana {
    margin-bottom: 30px;
  }
}
/*acerca de mi*/
@media screen and (max-width: 950px) {
  .seccionAcercaDeMi .divFotoSeba {
    margin-top: 30px;
  }
}
.seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi {
  text-align: right;
}
.seccionAcercaDeMi .textosAcercaDeMi .parrafoAcercaDeMi {
  text-align: center;
}

/*mis clases*/
.seccionMisClases {
  padding: 40px 10px 40px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: center;
}
.seccionMisClases:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
.seccionMisClases #grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
  grid-template-columns: 0, 7fr 1, 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "alAireLibre ClientesSatisfechos" "enTuGimnasio ClientesSatisfechos";
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.seccionMisClases #grid .alAireLibre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  grid-area: alAireLibre;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .alAireLibre {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .alAireLibre {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
  }
}
.seccionMisClases #grid .alAireLibre .titulosGrid {
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .alAireLibre .titulosGrid {
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .alAireLibre .textoAlAireLibre {
    font-size: 15px;
  }
}
.seccionMisClases #grid .alAireLibre .fotoAlAireLibre {
  width: 60%;
  align-self: center;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .alAireLibre .fotoAlAireLibre {
    width: 80%;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .alAireLibre .fotoAlAireLibre {
    width: 80%;
    align-self: center;
  }
}
.seccionMisClases #grid .enTuGimnasio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  grid-area: enTuGimnasio;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .enTuGimnasio {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .enTuGimnasio {
    margin-right: 5px;
    margin-left: 5px;
    justify-content: center;
  }
}
.seccionMisClases #grid .enTuGimnasio .titulosGrid {
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .enTuGimnasio .titulosGrid {
    padding-top: 20px;
  }
}
.seccionMisClases #grid .enTuGimnasio .fotoEnTuGym {
  width: 60%;
  align-self: center;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .enTuGimnasio .fotoEnTuGym {
    width: 80%;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .enTuGimnasio .fotoEnTuGym {
    width: 80%;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .enTuGimnasio .textoEnTuGym {
    font-size: 15px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos {
  display: flex;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr;
  gap: 5px 5px;
  grid-template-areas: "titulo titulo titulo" "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9";
  grid-area: ClientesSatisfechos;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos {
    grid-template-columns: 3fr 0fr 0fr;
    grid-area: ClientesSatisfechos;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .ClientesSatisfechos {
    grid-template-rows: 0.1fr 1.3fr 1.3fr 1.3fr;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .titulosGrid {
  grid-area: titulo;
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .ClientesSatisfechos .titulosGrid {
    padding-top: 20px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto1 {
  grid-area: foto1;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto1 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto1 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto2 {
  grid-area: foto2;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto2 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto3 {
  grid-area: foto3;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto3 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto4 {
  grid-area: foto4;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto4 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto4 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto5 {
  grid-area: foto5;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto5 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto6 {
  grid-area: foto6;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto6 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto7 {
  grid-area: foto7;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto7 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto7 {
    width: 100%;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto8 {
  grid-area: foto8;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto8 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto9 {
  grid-area: foto9;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto9 {
    display: none;
  }
}

/*CONTACTO*/
#contacto {
  margin: 30px;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  #contacto {
    margin: 15px;
    padding: 15px;
  }
}
/*Formulario de contacto*/
.FormContacto {
  justify-content: center;
}

.disclaimer {
  display: none;
}

.px-2 {
  padding-left: 180px !important;
  padding-right: 180px !important;
}
@media screen and (max-width: 768px) {
  .px-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.mb-3 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
@media screen and (max-width: 780px) {
  .mb-3 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.mt-0 {
  margin-top: 120px !important;
  margin-bottom: 30px !important;
}

body {
  font-family: "Rubik", sans-serif;
  color: #b10909;
  background-color: #639ae2;
}

.seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento, .seccionRutinas .divTextoRutinas .tituloRutinas, .seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas, .seccionDieta .divTextosDieta .tituloDieta, .seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi, .seccionMisClases #grid .alAireLibre .titulosGrid, .seccionMisClases #grid .enTuGimnasio .titulosGrid, .seccionMisClases #grid .ClientesSatisfechos .titulosGrid, #contacto .tituloContacto {
  font-size: 30px;
  color: #b10909;
  padding-right: 10px;
  font-weight: bolder;
}
@media screen and (max-width: 980px) {
  .seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento, .seccionRutinas .divTextoRutinas .tituloRutinas, .seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas, .seccionDieta .divTextosDieta .tituloDieta, .seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi, .seccionMisClases #grid .alAireLibre .titulosGrid, .seccionMisClases #grid .enTuGimnasio .titulosGrid, .seccionMisClases #grid .ClientesSatisfechos .titulosGrid, #contacto .tituloContacto {
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
  }
}

.PrincipalIndex, .seccionEntrenamiento, .seccionRutinas, .seccionDisciplinas, .seccionDieta, .seccionAcercaDeMi {
  padding: 10px;
  margin: 60px 20px 60px 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: space-between;
}
.PrincipalIndex:hover, .seccionEntrenamiento:hover, .seccionRutinas:hover, .seccionDisciplinas:hover, .seccionDieta:hover, .seccionAcercaDeMi:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
@media screen and (max-width: 950px) {
  .PrincipalIndex, .seccionEntrenamiento, .seccionRutinas, .seccionDisciplinas, .seccionDieta, .seccionAcercaDeMi {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  .seccionEntrenamiento .divFotoEntrenamiento .imagenEntrenamiento, .seccionRutinas .divFotoRutinas .fotoRutinas, .seccionDieta .divFotoComidaSana .fotoComidaSana, .seccionAcercaDeMi .divFotoSeba .fotoSeba {
    width: 100%;
    height: auto;
  }
}

.seccionEntrenamiento .divTextoEntrenamiento, .seccionRutinas .divTextoRutinas, .seccionDisciplinas .divTextosDisciplinas, .seccionDieta .divTextosDieta, .seccionAcercaDeMi .textosAcercaDeMi {
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
@media screen and (max-width: 980px) {
  .seccionEntrenamiento .divTextoEntrenamiento, .seccionRutinas .divTextoRutinas, .seccionDisciplinas .divTextosDisciplinas, .seccionDieta .divTextosDieta, .seccionAcercaDeMi .textosAcercaDeMi {
    width: 100%;
  }
}

.seccionEntrenamiento .divTextoEntrenamiento .parrafoEntrenamiento, .seccionRutinas .divTextoRutinas .parrafoRutinas, .seccionDisciplinas .divTextosDisciplinas .parrafoDis, .seccionDieta .divTextosDieta .parrafoDieta, .seccionAcercaDeMi .textosAcercaDeMi .parrafoAcercaDeMi {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}

.barraNav {
  display: flex;
  position: sticky;
  top: 5px;
  width: 100%;
  z-index: 100;
}
.barraNav nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 35px;
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.774);
}
@media screen and (max-width: 768px) {
  .barraNav nav {
    padding: 5px;
    margin: 5px;
    line-height: 15px;
    width: 100%;
  }
}
.barraNav nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
@media screen and (max-width: 950px) {
  .barraNav nav ul {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .barraNav nav ul {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 550px) {
  .barraNav nav ul {
    font-size: 10px;
  }
}
.barraNav nav ul li {
  list-style-image: url(../imagenes/weight-red-small25px.png);
  list-style-position: inside;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .barraNav nav ul li {
    display: flex;
    justify-content: space-evenly;
    list-style-image: none;
    width: 80%;
  }
}
.barraNav nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.barraNav nav ul li a:hover {
  color: #b10909;
}
@media screen and (max-width: 768px) {
  .barraNav nav ul li a {
    color: black;
  }
  .barraNav nav ul li a:hover {
    color: #b10909;
  }
}

/*# sourceMappingURL=style.css.map */
