header .card .card-img-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header .card .card-img-overlay .card-title {
  font-weight: bolder;
  color: black;
  text-align: center;
  background-color: rgba(172, 172, 172, 0.815);
  font-family: "Rubik", sans-serif;
  transition: 0.3s;
}
header .card .card-img-overlay .card-title:hover {
  background-color: rgba(221, 220, 220, 0.815);
  color: #0c0cc2;
}
header .card .card-img-overlay .card-text {
  font-weight: bold;
  background-color: rgba(172, 172, 172, 0.815);
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #b10909;
  transition: 0.3s;
}
header .card .card-img-overlay .card-text:hover {
  background-color: rgba(221, 220, 220, 0.815);
  color: #0c0cc2;
}
@media screen and (min-width: 300px) and (max-width: 980px) {
  header .card .card-img-overlay .card-text {
    display: none;
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: #b10909;
  background-color: #639ae2;
}

h2 {
  font-size: 30px;
  color: #b10909;
  padding-right: 10px;
  font-weight: bolder;
}
@media screen and (max-width: 850px) {
  h2 {
    font-size: 15px;
  }
}

.seccionAcercaDeMi, .seccionDieta, .seccionRutinas, .seccionDisciplinas, .seccionEntrenamiento, .PrincipalIndex {
  padding: 10px;
  margin: 60px 20px 60px 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: space-between;
}
.seccionAcercaDeMi:hover, .seccionDieta:hover, .seccionRutinas:hover, .seccionDisciplinas:hover, .seccionEntrenamiento:hover, .PrincipalIndex:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
@media screen and (max-width: 700px) {
  .seccionAcercaDeMi, .seccionDieta, .seccionRutinas, .seccionDisciplinas, .seccionEntrenamiento, .PrincipalIndex {
    flex-wrap: wrap;
  }
}

.PrincipalIndex .diVideoPrincipal {
  width: 90%;
  height: 100%;
  margin: 10px;
  padding: 10px;
}
.PrincipalIndex .diVideoPrincipal .videoEntrenamiento {
  width: 80%;
}
.PrincipalIndex .textosPrincipal {
  width: 60%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.PrincipalIndex .textosPrincipal .tituloPrincipal {
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: right;
}
.PrincipalIndex .textosPrincipal .FraseMotivadora {
  font-size: 35px;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .PrincipalIndex .textosPrincipal .FraseMotivadora {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    width: auto;
    margin: 5px;
    padding: 5px;
    text-align: right;
  }
}

/*entrenamiento*/
.seccionEntrenamiento .divFotoEntrenamiento .imagenEntrenamiento {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 10px;
  object-fit: contain;
}
.seccionEntrenamiento .divTextoEntrenamiento {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.seccionEntrenamiento .divTextoEntrenamiento .tituloEntrenamiento {
  text-align: right;
}
.seccionEntrenamiento .divTextoEntrenamiento .parrafoEntrenamiento {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: right;
}

/*rutinas*/
.carousel {
  width: 400px;
  height: 267px;
}

/*Disciplinas*/
.seccionDisciplinas .divTextosDisciplinas {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.seccionDisciplinas .divTextosDisciplinas .tituloDisciplinas {
  text-align: right;
}
.seccionDisciplinas .divTextosDisciplinas .parrafoDis {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: right;
}

/*Rutinas*/
.seccionRutinas .divTextoRutinas {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.seccionRutinas .divTextoRutinas .parrafoRutinas {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.seccionRutinas .divFotoRutinas .fotoRutinas {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 10px;
  object-fit: contain;
}

/*Dieta*/
.seccionDieta .divTextosDieta {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.seccionDieta .divTextosDieta .parrafoDieta {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.seccionDieta .divFotoComidaSana .fotoComidaSana {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 10px;
  object-fit: contain;
}

/*acerca de mi*/
.seccionAcercaDeMi .divFotoSeba .fotoSeba {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 10px;
  object-fit: contain;
}
.seccionAcercaDeMi .textosAcercaDeMi {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.seccionAcercaDeMi .textosAcercaDeMi .tituloAcercaDeMi {
  text-align: right;
}
/*mis clases*/
.seccionMisClases {
  padding: 40px 10px 40px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: center;
}
.seccionMisClases:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
.seccionMisClases #grid {
  display: grid;
  grid-template-columns: 0, 7fr 1, 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "alAireLibre ClientesSatisfechos" "enTuGimnasio ClientesSatisfechos";
}
.seccionMisClases #grid .alAireLibre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  grid-area: alAireLibre;
}
@media screen and (max-width: 600px) {
  .seccionMisClases #grid .alAireLibre .textoAlAireLibre {
    font-size: 15px;
  }
}
.seccionMisClases #grid .alAireLibre .fotoAlAireLibre {
  width: 60%;
  align-self: center;
}
.seccionMisClases #grid .enTuGimnasio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  grid-area: enTuGimnasio;
}
.seccionMisClases #grid .enTuGimnasio .fotoEnTuGym {
  width: 60%;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .seccionMisClases #grid .enTuGimnasio .textoEnTuGym {
    font-size: 15px;
  }
}
.seccionMisClases #grid .ClientesSatisfechos {
  display: flex;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1, 2fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "titulo titulo titulo" "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9";
  grid-area: ClientesSatisfechos;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos {
    grid-template-columns: 3fr 0fr 0fr;
    grid-area: ClientesSatisfechos;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto1 {
  grid-area: foto1;
  width: 100%;
}
.seccionMisClases #grid .ClientesSatisfechos .foto2 {
  grid-area: foto2;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto2 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto3 {
  grid-area: foto3;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto3 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto4 {
  grid-area: foto4;
  width: 100%;
}
.seccionMisClases #grid .ClientesSatisfechos .foto5 {
  grid-area: foto5;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto5 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto6 {
  grid-area: foto6;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto6 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto7 {
  grid-area: foto7;
  width: 100%;
}
.seccionMisClases #grid .ClientesSatisfechos .foto8 {
  grid-area: foto8;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto8 {
    display: none;
  }
}
.seccionMisClases #grid .ClientesSatisfechos .foto9 {
  grid-area: foto9;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .seccionMisClases #grid .ClientesSatisfechos .foto9 {
    display: none;
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: #b10909;
  background-color: #639ae2;
}

h2 {
  font-size: 30px;
  color: #b10909;
  padding-right: 10px;
  font-weight: bolder;
}
@media screen and (max-width: 850px) {
  h2 {
    font-size: 15px;
  }
}

.PrincipalIndex, .seccionEntrenamiento, .seccionDisciplinas, .seccionRutinas, .seccionDieta, .seccionAcercaDeMi {
  padding: 10px;
  margin: 60px 20px 60px 20px;
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: space-between;
}
.PrincipalIndex:hover, .seccionEntrenamiento:hover, .seccionDisciplinas:hover, .seccionRutinas:hover, .seccionDieta:hover, .seccionAcercaDeMi:hover {
  background-color: rgba(255, 255, 255, 0.63);
  color: #cc1414;
}
@media screen and (max-width: 700px) {
  .PrincipalIndex, .seccionEntrenamiento, .seccionDisciplinas, .seccionRutinas, .seccionDieta, .seccionAcercaDeMi {
    flex-wrap: wrap;
  }
}

.barraNav {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .barraNav {
    flex-wrap: wrap;
  }
}
.barraNav nav {
  font-size: 20px;
  line-height: 35px;
  width: 80%;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.514);
}
.barraNav nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.barraNav nav ul li {
  width: 100%;
  list-style-image: url(../imagenes/weight-red-small25px.png);
  list-style-position: inside;
}
.barraNav nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.barraNav nav ul li a:hover {
  color: #b10909;
}

/*# sourceMappingURL=style.css.map */
