.card-title{
    
    font-weight: bolder;
    color: black;
    text-align: center;
    background-color: rgba(172, 172, 172, 0.815);
    font-family: 'Rubik', sans-serif;
    transition: 0.3s;
    }



.card-text{

    
    font-weight: bold;
    background-color: rgba(172, 172, 172, 0.815);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    transition: 0.3s;
    }

    .card-text:hover{
        background-color: rgba(221, 220, 220, 0.815);
        color: rgb(12, 12, 194); 
    }

    .card-title:hover{
        background-color: rgba(221, 220, 220, 0.815);
        color: rgb(12, 12, 194);
    }

    div:hover h2{
        animation:  shake 0.8s  ;
      }