@import '../base/listas';


header{

    .card{
        
        .card-img-overlay{
            width: 100%;
	        height: 100%;
	        display: flex;
	        flex-direction: column;

            .card-title{
                font-weight: bolder;
                color: nth($colores, 7);
                text-align: center;
                background-color: nth($colores, 3);
                font-family: 'Rubik', sans-serif;
                transition: 0.3s;
                &:hover {
                    background-color: nth($colores, 4);
                    color: nth($colores, 5);
                }

            }

            .card-text{
                font-weight: bold;
                background-color: rgba(172, 172, 172, 0.815);
                text-align: center;
                font-family: 'Rubik', sans-serif;
                color: nth($colores, 1);
                transition: 0.3s;
                &:hover {
                    background-color: nth($colores, 4);
                    color: nth($colores, 5);
                }
                @media screen and (min-width: 300px) and (max-width: 980px) {
                    display: none;
                }
            } 
        }

        
    }
}


/*footer*/


.redesS{

    @media screen and (max-width: 780px){

       display: none;
    }

}

