@import "../base/estilosgrales";
@import "../base/listas";





.PrincipalIndex{

    @extend %secciones;

     

    .diVideoPrincipal{
        width: 90%;
        height: 100%;
        margin: 10px;
        padding: 10px;

        .videoEntrenamiento{
            width: 80%;

            @media screen and (max-width: 950px) {

                width: 100%;
            }
        }
       
    }
   
       
    .textosPrincipal{
        width: 60%;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .tituloPrincipal{
            width:auto;
            margin: 10px;
            padding: 10px;
            text-align: right;

            @media screen and (max-width: 950px){
                text-align: center;
                     
            }
        }
        
        .FraseMotivadora{

            font-size: 35px;
            font-style: italic;
            font-weight: 600;
            line-height: 40px;
            width:auto;
            margin: 10px;
            padding: 10px; 
            text-align: right;

            @media screen and (max-width: 950px){

                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    width:auto;
                    margin: 5px;
                    padding: 5px; 
                    text-align: center;
                    
                    }
                         
        
            }
        
       }
         

}


/*entrenamiento*/

.seccionEntrenamiento{

    @extend %secciones;

        .divFotoEntrenamiento{

            .imagenEntrenamiento{

                @extend %imagenes;

            }
        }

        .divTextoEntrenamiento{

            @extend %divtextos;

            
            .tituloEntrenamiento{

                text-align: right;

            }

            .parrafoEntrenamiento{
                @extend %parrafos;
                text-align: right;
            }
        }
}

/*rutinas*/

.carousel { width:400px; 
            height:267px;
            
        }

/*Disciplinas*/

.seccionDisciplinas{
    @extend %secciones;

    
    .divTextosDisciplinas{

        @extend %divtextos;

            .tituloDisciplinas{
            
                text-align: right;    

            }

            .parrafoDis{

                @extend %parrafos;
                text-align: right; 
            }

    }

}   

/*Rutinas*/

.seccionRutinas{

    @extend %secciones;

    .divTextoRutinas{

        @extend %divtextos;


        .parrafoRutinas{
         
            @extend %parrafos;
            text-align: left;   

        }
    }

    .divFotoRutinas{

        .fotoRutinas{

            @extend %imagenes;

        }    

    }

}

/*Dieta*/

.seccionDieta{

    @extend %secciones;

        .divTextosDieta{

            @extend %divtextos;

            

           .parrafoDieta{

            @extend %parrafos; 
            text-align: left;
            
            } 
        
        }

        .divFotoComidaSana{


            .fotoComidaSana{

                @extend %imagenes;


            }    

        }



}

/*acerca de mi*/

.seccionAcercaDeMi{

    @extend %secciones;

    .divFotoSeba{

        .fotoSeba{

            width: 80%;
            height: auto;
            padding: 10px;
            margin: 10px;
            object-fit: contain;


        }


    }

    .textosAcercaDeMi{

        width: 80%;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .tituloAcercaDeMi{

            text-align: right;    

        }

        


    }


}

/*mis clases*/

.seccionMisClases{

    padding: 40px 10px 40px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    display: flex;
    justify-content: center;
     
    &:hover {
        background-color: nth($colores, 9);
        color: nth($colores, 10);
    }   

    #grid{

        display: grid;
        grid-template-columns: 0,7fr 1,3fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px; 
        grid-template-areas: 
        "alAireLibre ClientesSatisfechos"
        "enTuGimnasio ClientesSatisfechos";

        .alAireLibre{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 20px;
            grid-area: alAireLibre;

            .titulosGrid{

                @extend %titulos;

            }
            
            .textoAlAireLibre{

                @media screen and (max-width: 600px){

                    font-size: 15px;
                }
                
                
            }

            .fotoAlAireLibre{
            
                width: 60%;
                align-self: center;
        

            }



        }


        .enTuGimnasio{

            display: flex; 
            flex-direction: column; 
            justify-content: space-around;
            margin-right: 20px;
            grid-area: enTuGimnasio;
            
            .titulosGrid{

                @extend %titulos;

            }

            .fotoEnTuGym{

                width: 60%;
                align-self: center;


            }

            .textoEnTuGym{

                @media screen and (max-width: 600px){

                    font-size: 15px;
                    }
            }


        }

        .ClientesSatisfechos{
        
            display: flex;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr 1fr; 
            gap: 5px 5px; 
            grid-template-areas: 
            "titulo titulo titulo"
            "foto1 foto2 foto3"
            "foto4 foto5 foto6"
            "foto7 foto8 foto9"; 
            grid-area: ClientesSatisfechos; 

            @media screen and (max-width: 980px){
               
                grid-template-columns: 3fr 0fr 0fr;
                grid-area: ClientesSatisfechos;
            }

            .titulosGrid{

                @extend %titulos;

            }

        
            .foto1 { grid-area: foto1;
                width: 100%;
            }
      
            .foto2 { grid-area: foto2; 
                width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }
            }
            
            .foto3 { grid-area: foto3; 
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }
            .foto4 { grid-area: foto4; 
                width: 100%;
            }

            .foto5 { grid-area: foto5;
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }

            .foto6 { grid-area: foto6; 
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }

            .foto7 { grid-area: foto7;
                width: 100%;
            }

            .foto8 { grid-area: foto8;
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }

            }

            .foto9 { grid-area: foto9; 
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }
            }



        }
    
    
    
    }


}

/*CONTACTO*/

#contacto{

    margin: 30px;
    margin: 30px;

}

/*Formulario de contacto*/

.FormContacto{
    
    @extend %secciones;

}

.disclaimer{
    display: none;
}


.px-2 {
    padding-left: (20px) !important;
    padding-right: (20px) !important;
  }


  .mt-0 {
    margin-top: 30px !important;
    margin-bottom: 25px !important;
  }  







