@import "../base/estilosgrales";
@import "../base/listas";





.PrincipalIndex{

    @extend %secciones;

     

    .diVideoPrincipal{
        width: 90%;
        height: 100%;
        margin: 10px;
        padding: 10px;

        .videoEntrenamiento{
            width: 80%;

            @media screen and (max-width: 950px) { 

                width: 100%;
            }
        }
       
    }
   
       
    .textosPrincipal{
        width: 60%;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .tituloPrincipal{
            width:auto;
            margin: 10px;
            padding: 10px;
            text-align: right;

            @media screen and (max-width: 950px){
                text-align: center;
                     
            }
        }
        
        .FraseMotivadora{

            font-size: 35px;
            font-style: italic;
            font-weight: 600;
            line-height: 40px;
            width:auto;
            margin: 10px;
            padding: 10px; 
            text-align: right;

            @media screen and (max-width: 950px){

                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                width:auto;
                margin: 5px;
                padding: 5px; 
                text-align: center;
                    
            }
                         
        
        }
        
    }
         

}


/*entrenamiento*/

.seccionEntrenamiento{

    @extend %secciones;

    

        .divFotoEntrenamiento{

            @media screen and (max-width: 950px) {

                margin-top: 30px;
        
            }               

            .imagenEntrenamiento{

                @extend %imagenes;

            }
        }

        .divTextoEntrenamiento{

            @extend %divtextos;

            
            .tituloEntrenamiento{

                @extend %titulos;
                text-align: right;

            }

            .parrafoEntrenamiento{
                @extend %parrafos;
                text-align: right;
            }
        }
}

/*Rutinas*/

.seccionRutinas{

    @extend %secciones;

    .divTextoRutinas{

        @extend %divtextos;

        .tituloRutinas{

            @extend %titulos;
            
        }


        .parrafoRutinas{
         
            @extend %parrafos;
            text-align: left;   

        }
    }

    .divFotoRutinas{

        @media screen and (max-width: 950px) {

            margin-bottom: 30px;
    
        }   

       
        .fotoRutinas{

            @extend %imagenes;

        }    

    }

}


/*Disciplinas*/

.seccionDisciplinas{

    @extend %secciones;

    .divFotosCarou{

        align-items: center;
    
        .carousel { width:400px;
            margin:15px 10px 10px 10px;
            padding:15px 10px 10px 10px; 
            height:267px;
            z-index: 80;

            @media screen and (max-width: 450px) {

                width:320px;  
                height:214px;

            }
            
        }
    
    }
    

    
    .divTextosDisciplinas{

        @extend %divtextos;

            .tituloDisciplinas{
            
                text-align: right;    
                @extend %titulos;

            }

            .parrafoDis{

                @extend %parrafos;
                text-align: right; 
            }

    }

}   


/*Dieta*/

.seccionDieta{

    @extend %secciones;

        .divTextosDieta{

            @extend %divtextos;

            .tituloDieta{

                @extend %titulos;
            }

            

           .parrafoDieta{

            @extend %parrafos; 
            text-align: left;
            
            } 
        
        }

        .divFotoComidaSana{

            @media screen and (max-width: 950px) {

                margin-bottom: 30px;
        
            }   
    


            .fotoComidaSana{

                @extend %imagenes;


            }    

        }



}

/*acerca de mi*/

.seccionAcercaDeMi{

    @extend %secciones;

    .divFotoSeba{

        @media screen and (max-width: 950px) {

            margin-top: 30px;
    
        }   

    

        .fotoSeba{

            @extend %imagenes;

        }


    }

    .textosAcercaDeMi{

        @extend %divtextos;

        
        .tituloAcercaDeMi{

            @extend %titulos;
            text-align: right;    

        }

        .parrafoAcercaDeMi{

           @extend %parrafos; 
           text-align: center;
            
        }

        


    }


}

/*mis clases*/

.seccionMisClases{

    padding: 40px 10px 40px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    display: flex;
    justify-content: center;


     
    &:hover {
        background-color: nth($colores, 9);
        color: nth($colores, 10);
    }   

    

    #grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: grid;
        grid-template-columns: 0,7fr 1,3fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px; 
        grid-template-areas: 
        "alAireLibre ClientesSatisfechos"
        "enTuGimnasio ClientesSatisfechos";


        @media screen and (max-width: 768px){
             
            display:flex;
            flex-direction: column;
            justify-content: center;
            
            
        }

        

        

        .alAireLibre{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 20px;
            grid-area: alAireLibre;

            @media screen and (max-width: 980px){

                margin-right: 10px;
                margin-left: 10px;
                text-align: center;

            }

            @media screen and (max-width: 768px){

                margin-right: 5px;
                margin-left: 5px;
                text-align: center;    
                

            }

            .titulosGrid{

                @extend %titulos;
                padding-left: 25px;

                @media screen and (max-width: 768px){
                                        
                    padding-top: 20px;
                    
                }    
                
            }
            
            .textoAlAireLibre{

                @media screen and (max-width: 768px){

                    font-size: 15px;
                }
                
                
            }

            .fotoAlAireLibre{
            
                width: 60%;
                align-self: center;

                @media screen and (max-width: 980px){

                    width: 80%;
                    align-self: center;

                }

                @media screen and (max-width: 768px){

                    width: 80%;
                    align-self: center;    
                    

                }
        

            }



        }


        .enTuGimnasio{

            display: flex; 
            flex-direction: column; 
            justify-content: space-around;
            margin-right: 20px;
            grid-area: enTuGimnasio;

            @media screen and (max-width: 980px){

                margin-right: 10px;
                margin-left: 10px;
                text-align: center;
                

            }

            @media screen and (max-width: 768px){

                margin-right: 5px;
                margin-left: 5px;
                justify-content: center;    
                

            }
            
            .titulosGrid{

                @extend %titulos;
                padding-left: 25px;

                @media screen and (max-width: 768px){
                                        
                    padding-top: 20px;
                    
                } 

            }

            .fotoEnTuGym{

                width: 60%;
                align-self: center;

                @media screen and (max-width: 980px){

                    width: 80%;
                    align-self: center;

                }

                @media screen and (max-width: 768px){

                    width: 80%;
                    align-self: center;    
                    

                }


            }

            .textoEnTuGym{

                @media screen and (max-width: 768px){

                    font-size: 15px;
                    }
            }


        }

        .ClientesSatisfechos{
        
            display: flex;
            display: grid; 
            flex-direction: column; 
            justify-content: space-around;
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr;
            gap: 5px 5px; 
            grid-template-areas: 
            "titulo titulo titulo"
            "foto1 foto2 foto3"
            "foto4 foto5 foto6"
            "foto7 foto8 foto9"; 
            grid-area: ClientesSatisfechos;
             

           

            @media screen and (max-width: 980px){
               
                grid-template-columns: 3fr 0fr 0fr;
                grid-area: ClientesSatisfechos;
                margin-right: 10px;
                margin-left: 10px;
                text-align: center;
                
                
            }


            @media screen and (max-width: 768px){

                grid-template-rows: 0.1fr 1.3fr 1.3fr 1.3fr;
                margin-right: 5px;
                margin-left: 5px;
                align-items: center;
                
                   
            }

                



            .titulosGrid{

                grid-area: titulo;
                @extend %titulos;
                padding-left: 25px;    
                
                @media screen and (max-width: 768px){
                
                    padding-top: 20px;
                }

            }

        
            .foto1 { grid-area: foto1;

                width:100%;   

                @media screen and (max-width: 980px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px; 
                     
                }

                @media screen and (max-width: 768px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px;
                    

                }
            }
      
            .foto2 { grid-area: foto2; 
                
                width: 100%;

                @media screen and (max-width: 980px){
                    display: none;  
                }
            }
            
            .foto3 { grid-area: foto3; 
                
                width: 100%;

                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }
            .foto4 { grid-area: foto4; 
                width: 100%;

                @media screen and (max-width: 980px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px;  
                }

                @media screen and (max-width: 768px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px;  
                    

                }
            }

            .foto5 { grid-area: foto5;
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }

            .foto6 { grid-area: foto6; 
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }    

            }

            .foto7 { grid-area: foto7;
                width: 100%;
                @media screen and (max-width: 980px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px;  
                }

                @media screen and (max-width: 768px){

                    width: 100%;
                    margin: 20px 0px 20px;
                    padding: 20px 0px 20px;  
                    

                }
            }

            .foto8 { grid-area: foto8;
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }

            }

            .foto9 { grid-area: foto9; 
            width: 100%;
                @media screen and (max-width: 980px){
                    display: none;  
                }
            }



        }
    
    
    
    }


}

/*CONTACTO*/

#contacto{

    margin: 30px;
    padding: 30px;

    @media screen and (max-width: 768px){
    
        margin: 15px;
        padding: 15px;

    }

    .tituloContacto{

        @extend %titulos;
    }

}

/*Formulario de contacto*/

.FormContacto{

    justify-content: center;

}

.disclaimer{
    display: none;
}




.px-2 {
    padding-left: (180px) !important;
    padding-right: (180px) !important;
    
        @media screen and (max-width: 768px){
            
            padding-left: (20px) !important;
            padding-right: (20px) !important;

        }

    }

.mb-3{

    margin-top: 40px !important;
    margin-bottom: 20px !important;
    
        @media screen and (max-width: 780px){
            
            margin-top: 10px !important;
            margin-bottom: 10px !important;

        }


}


.mt-0 {

    margin-top: 120px !important;
    margin-bottom: 30px !important;
}  







