@import 'listas';


body {
    font-family: 'Rubik', sans-serif;
    color: nth($colores, 1);
    background-color: nth($colores, 6);
            
}   


h2{
    font-size: 30px;
    color: nth($colores, 1);
    padding-right: 10px;
    font-weight: bolder;
    
   
    @media screen and (max-width: 850px){
    font-size: 15px;
    
    }

    @media screen and (max-width: 700px) {

        align-self: center;

        }  

    
}

%secciones {

    padding:  10px;
    margin: 60px 20px 60px 20px;
    background-color: nth($colores, 8);
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: nth($colores, 9);
        color: nth($colores, 10);
    }    

    @media screen and (max-width: 700px) {

        justify-content: center;

        flex-wrap: wrap;

}  
}

